*{
    padding: 0;
    margin: 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.nav-container > .logo{
    width: 50px;
    border-radius: 10px;
    margin: 10px;
}
.nav-container > ul {
    display: flex;
}
.nav-container > ul > li {
    list-style: none;
    padding: 10px;
    margin-right: 10px;
}

/* body card */

.card{
    margin: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 210px;
    padding: 10px;
}
.card > img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 5px ;
}
.body-card{
    display: flex;
    flex-wrap: wrap;
}